/* Global margin reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-holder {
    /* Customization */
    margin: 0;
    background-color: #0f0f0f;
    height: 79px;
}

#nav-bar {
    /* Customization */
    margin: 0;
    background-color: #0f0f0f;
    padding: 5px;
    width: 100%;

    /* Item alignment */
    display: flex;
    position: fixed;
}

#home-icon {
    /* Sizing */
    min-width: 65px;
    max-width: 65px;
    min-height: 65px;
    max-height: 65px;

    /* Border */
    border: none;
    margin-left: 5px;

    /* Background */
    background: url("./images/hub-logo.png") no-repeat;
    background-size: 100%;
}

.nav-bar-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto 15px;
    padding: 0 20px;
    width: auto;
}

.nav-btn {
    /* Alignment */
    margin: 0px 2%;
    padding: 15px;

    /* Sizing */
    width: 145px;
    font-size: 15px;

    /* Customization */
    border: 1px solid #0f0f0f;
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 0.1);
    color: #ffffff;
    text-shadow: 0 0 10px #898989;
}

.hero {
    /* Background & hero sizing */
    background-image: url("./images/space-background.jpg");
    background-size: cover;
    background-position-y: -100px;
    height: 250px;
    box-shadow: 0 0 15px 5px #0f0f0f inset;

    /* Hero content position */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Hero text content */
    color: #ffdeff;
    text-shadow: 0 0 15px #ffffff;
    font-size: 210%;
}

#hero-text {
    /* Hero text backing*/
    padding: 5px;
    border-radius: 10px;
    /* background-color: rgba(1, 1, 1, 0.1); */

}

.rules-intro {
    /* Intro text display */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 20px;
    line-height: 25px;

    /* Intro text */
    color: #ffffff;
    text-shadow: 0 0 10px #898989;

    /* Intro background */
    background-color: #0f0f0f;
}

#rules-title {
    margin: 1px 0 5px;
}

.rules-text {
    margin: 8px 0 30px;
}

.rules {
    /* Item alignment */
    display: flex;
    flex-direction: column;
}

.rule-list{
    display: flex;
    flex-direction: row;
}

.rule {
    /* Background & border */
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 10px;
    border: 2px double #898989;

    /* Customization */
    padding: 10px;
    margin: 5px;
    /* width: 255px; */
    width: 50%;
}

.rule-link {
    color: dodgerblue;
}